@layer reset, theme, typography, layout;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 100%;
  }
  body {
    min-height: 100vh;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }
  a {
    text-decoration: none;
  }
  button,
  input {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}

@layer theme {
  :root {
    --font-sans: "Google Sans Flex", system-ui, sans-serif;
    --font-mono: "Google Sans Code", monospace;
    --background: #f2f3f4;
    --foreground: #020304;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer typography {
  body {
    font-family: var(--font-sans);
  }
  article {
    text-wrap: pretty;
    white-space: normal;
  }
  h1,
  h2,
  h3,
  strong {
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "ROND" 0;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
  }
  strong {
    font-weight: 600;
  }
  p,
  li {
    font-family: var(--font-sans);
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "ROND" 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  em {
    font-style: normal;
    font-variation-settings:
      "slnt" -10,
      "wdth" 100,
      "GRAD" 0,
      "ROND" 0;
  }
  pre {
    max-width: 100%;
    overflow: auto;
    white-space: pre;
  }
  code,
  kbd {
    font-family: var(--font-mono);
  }
  :is(p, li) :where(code, kbd) {
    font-size: 90%;
  }
  pre code {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }
  footer {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
  }
}

@layer layout {
  #mdx {
    & > :is(header, h1, h2, h3, p, ul, ol, pre, blockquote) {
      max-width: 48rem;
      width: 100%;
    }
    & > header {
      margin: 2.5rem auto;
      text-align: center;
    }
    & > header h2 {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 1rem 0 0.5rem;
    }
    & > header p {
      font-size: 0.875rem;
    }
    & > h1 {
      margin: 2.5rem auto 1.25rem;
    }
    & > h2 {
      margin: 2.5rem auto 0.5rem;
    }
    & > h3 {
      margin: 1.25rem auto 0;
    }
    & > p {
      margin: 1.25rem auto;
    }
    & > h2 + p {
      margin: 0.5rem auto 1.25rem;
    }
    & > h3 + p {
      margin: 0.25rem auto 1.25rem;
    }
    & > :is(ul, ol) {
      margin: 0 auto;
      padding-left: 1.5rem;
    }
    & > p + :where(ul, ol) {
      margin-top: -0.75rem;
    }
    & li :where(ul, ol) {
      margin: 0.5rem 0 0.875rem;
      padding-left: 1.5rem;
    }
    & li {
      margin: 0.5rem 0;
    }
    & pre {
      background-color: #ffffff;
      border-radius: 0.5rem;
      border: 1px solid #e1e2e3;
      margin: 0 auto;
      padding: 0.875rem;
    }
    & > blockquote {
      margin: 1rem auto;
    }
    & > blockquote > p {
      margin: 0.5rem 0;
    }
    & hr {
      border: 1px solid #d1d1d1;
      margin: 5rem auto;
      max-width: 12rem;
    }
  }
  @media (width >= 40rem) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.125rem;
    }
    #mdx > header h2 {
      font-size: 1.5rem;
    }
  }
}

/* stylex: layer priority */
@layer priority1, priority2, priority3, priority4, priority5;
