@layer reset, theme, typography, layout;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 100%;
  }
  body {
    min-height: 100vh;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer theme {
  :root {
    --font-sans: "Geist", system-ui, sans-serif;
    --font-mono: "Geist Mono", monospace;
    --color-heading: #f2f3f4;
    --color-text: #c2c3c4;
    --color-info: #a4a5a6;
    --color-surface: #060708;
    --color-preview: #020304;
    --color-border: #171819;
    --color-accent: #727374;
  }
  body {
    background-color: var(--color-surface);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3,
  strong {
    color: var(--color-heading);
  }
  code,
  em {
    font-family: var(--font-mono);
  }
  p,
  li {
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}

@layer typography {
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.08rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.04rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    line-height: 1.75rem;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 80ch;
  }
  li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
  footer,
  pre code {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  strong {
    font-weight: 500;
  }
  em {
    font-style: italic;
    letter-spacing: -0.02rem;
  }
}

@layer layout {
  article {
    text-wrap: pretty;
    white-space: break-spaces;
  }
  article {
    & * + h1,
    & * + h2,
    & * + h3,
    & p,
    & pre {
      margin-top: 1.25rem;
    }
    & ul,
    & ol {
      padding: 1rem 0 0 1.25rem;
    }
    & li:not(:first-child) {
      margin-top: 0.5rem;
    }
    & h1 + *,
    & h2 + *,
    & h3 + * {
      margin-top: 0.5rem;
    }
    & h1 + ul,
    & h2 + ul,
    & h3 + ul,
    & h1 + ol,
    & h2 + ol,
    & h3 + ol,
    & p + ul,
    & p + ol {
      margin-top: -0.5rem;
    }
    & pre {
      background-color: var(--color-preview);
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      max-width: 100%;
      overflow-x: auto;
      padding: 1.25rem 1rem;
      white-space: pre;
    }
    & blockquote {
      border-left: 2px solid var(--color-accent);
      padding-left: 1rem;
    }
    & blockquote > p {
      margin-top: 0;
    }
    & p + blockquote {
      margin-top: 1.25rem;
    }
    & footer {
      color: var(--color-info);
    }
    & li::marker {
      color: var(--color-accent);
    }
  }
}

/* stylex: layer priority */
@layer priority1, priority2, priority3, priority4, priority5;
